{%extends "layout.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
  <h1>Welcome to PromptVerse!</h1>
  <form method="post">
    How can I help you today?
    <br>
    <input type="text" name="prompt" placeholder="Enter your prompt here"></input>
    <button type="submit">Submit</button>
  </form>

  {% if prompt %}
    <p><strong>You submitted:</strong> {{ prompt }}</p>
  {% endif %}

  {% if error %}
    <p>{{ error }}</p>
  {% endif %}

  <ul>
    {% for prompt in prompts %}
      <li>{{ prompt }}</li>
    {% endfor %}
  </ul>

{% endblock %}
